<table style="display:none;">
<tbody>
	<tr>
		<td><%= link_to 'Add Payment Details', new_payment_detail_path(@user) %></td>
	</tr>

</tbody>
</table>

<div id="login_info">
	<% if @admin == nil%>
	<p>
		<strong>Username:</strong> <%= @user.username%><br />
		<strong>Password:</strong> ********
	</p>
	<%= link_to 'Change Password', edit_user_path(@user), class: "btn btn-primary" %>
	<% else %>
	<p>
		<strong>Username:</strong> <%= @admin.username%><br />
		<strong>Password:</strong> ********
	</p>
	<%= link_to 'Change Password', edit_user_path(@admin), class: "btn btn-primary" %>
	<% end %>
	
</div>
<% if @admin == nil %>
<div id="payment_details">
	<table>
		<tbody>
			<% @payment_details.each do |detail| %>
				<tr>
					<% if detail.credit_card == true %>
						<td>
							<p>
								<strong>Credit Card:</strong>
							</p>
						</td>
						<td>
							<p>
							  <% number = detail.credit_card_number.length <= 4 ? detail.credit_card_number : detail.credit_card_number.to_s.slice(-4..-1) %>
							  <%= "****-****-****-#{number}" %>
							</p>
						</td>
						<td>
						  <%= link_to 'Edit', edit_payment_detail_path(detail), class: "btn btn-primary" %>
						</td>
					<% elsif detail.paypal == true %>
						<td>
							<p>
								<strong>PayPal:</strong>
							</p>
						</td>
						<td>
							<p>
								<% email_length = detail.paypal_email_address.length %>
								<% email_prefix = detail.paypal_email_address[0..1] %>
								<% email_suffix = detail.paypal_email_address[-3..-1] %>
								<%= "#{email_prefix}********#{email_suffix}" %>
							</p>
						</td>
						<td>
							<%= link_to 'Edit', edit_payment_detail_path(detail), class: "btn btn-primary" %>
						</td>
					<% end %>
				</tr>
			<% end %>
			<tr>
				<td>
					<%= link_to 'Add Payment Details', new_payment_detail_path, class: "btn btn-primary" %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<%= link_to 'Payment History', view_payment_history_path, class: "btn btn-primary" %>
<% end %>

