<%= form_for(@payment_detail) do |f| %>
  <% if @payment_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_detail.errors.count, "error") %> prohibited this payment_detail from being saved:</h2>

      <ul>
      <% @payment_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% if @payment_detail.credit_card == true %>
  	<div class="field">
    	<%= f.label :credit_card_number %><br>
    	<%= f.text_field :credit_card_number %>
  	</div>
  	<div class="field">
    	<%= f.label :credit_card_expiration_date %><br>
    	<%= f.text_field :credit_card_expiration_date %>
  	</div>
  	<div class="field">
    	<%= f.label :credit_card_security_code %><br>
    	<%= f.text_field :credit_card_security_code %>
  	</div>
  <%end%>
  
  <%if @payment_detail.paypal == true%>
  	<div class="field">
    	<%= f.label :paypal_email_address %><br>
    	<%= f.text_field :paypal_email_address %>
  	</div>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>