<p id="notice"><%= notice %></p>

<p>
  <strong>Credit card:</strong>
  <%= @payment_detail.credit_card %>
</p>

<p>
  <strong>Credit card number:</strong>
  <%= @payment_detail.credit_card_number %>
</p>

<p>
  <strong>Credit card expiration date:</strong>
  <%= @payment_detail.credit_card_expiration_date %>
</p>

<p>
  <strong>Credit card security code:</strong>
  <%= @payment_detail.credit_card_security_code %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @payment_detail.paypal %>
</p>

<p>
  <strong>Paypal email address:</strong>
  <%= @payment_detail.paypal_email_address %>
</p>

<%= link_to 'Edit', edit_payment_detail_path(@payment_detail) %> |
<%= link_to 'Back', payment_details_path %>
