<h1>Listing billing_infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billing_infos.each do |billing_info| %>
      <tr>
        <td><%= billing_info.name %></td>
        <td><%= billing_info.street_address %></td>
        <td><%= billing_info.city %></td>
        <td><%= billing_info.state %></td>
        <td><%= billing_info.zip %></td>
        <td><%= billing_info.phone_number %></td>
        <td><%= billing_info.email_address %></td>
        <td><%= link_to 'Show', billing_info %></td>
        <td><%= link_to 'Edit', edit_billing_info_path(billing_info) %></td>
        <td><%= link_to 'Destroy', billing_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing info', new_billing_info_path %>
