<% content_for :login_path do %><%= auctions_login_path %><% end %>
<% content_for :page_nav do %><% end %>
<% content_for :logged_in_page_nav do %><% end %>

<h1>Flagged Auctions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Remove Flag</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @flagged_auctions.each do |auction| %>
      <% item = auction.item %>
      <% if item != nil && auction != nil %>
        <tr class='clickable-row' data-href='<%= view_auction_path(auction.id)%>'>
          <td style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
            <p style="margin:0px;"><strong><%= item.name %></strong></p>
            <%= image_tag item.headline_image.url, class: "auctions_thumbnail"%>
          </td>
          <td><%= item.description %></td>
          <td><%= link_to 'Clear Flag', admin_clear_flag_path(auction), method: :post, class: "btn btn-success", remote: true %></td>
          <td><%= link_to 'Delete', item, method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function($) {
    $(".clickable-row").click(function(e) {
      if (e.target.tagName == 'A'){
        return true;
      } else {
        document.location = $(this).data("href");
      }
    });
  });
</script>
