<% content_for :login_path do %><%= auctions_login_path %><% end %>
<% content_for :page_nav do %><% end %>
<% content_for :logged_in_page_nav do %><% if @admin.nil? %>
    <%= link_to "My Auctions", view_my_auctions_path, style: "color:#A6A6A6;margin-left:10px;" %>
    <%= link_to "My Account", myaccount_path, style: "color:#A6A6A6;margin-left:10px;" %>  
  <% else %>
    <%= link_to "Review Flagged Auctions", admin_auctions_path, style: "color:#A6A6A6;margin-left:10px;" %>
  <% end %>
  <% end %>

<h1>Speedy Auctions</h1>

<ul class="nav nav-tabs" data-tabs="tabs">
	<li class="active"><a href="#1" data-toggle="tab">Upcoming Speedy Auctions</a></li>
	<li><a href="#2" data-toggle="tab">Past Speedy Auctions</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="1">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Description</th>
					<th>Current Price</th>
					<th>Begins</th>
					<th>Ends</th>
				</tr>
			</thead>
			<tbody>
					<% @future_auctions.each do |auction| %>
					<% item = auction.item %>
						<% if item != nil && auction != nil %>
							<tr class='clickable-row' data-href='<%= view_auction_path(auction.id)%>'>
								<td style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
									<p style="margin:0px;"><strong><%= item.name %></strong></p>
									<%= image_tag item.headline_image.url, class: "auctions_thumbnail"%>
									<% if auction.begin_date < DateTime.now %>
										<strong><%= link_to "Bid Now!", root_path, class: "btn btn-success"%></strong>
									<% end %>
								</td>
								<td><%= item.description %></td>
								<td>
									<% if auction.begin_date < DateTime.now %>
										<%= number_to_currency(auction.current_bid)%>
									<% else %>
										<%= number_to_currency(item.starting_price) %>
									<% end %>
								</td>
								<td><%= auction.begin_date.strftime("%a, %b %-d, %Y") %></td>
								<td><%= auction.end_date.strftime("%a, %b %-d, %Y") %></td>
							</tr>
					<%end%>
				<% end %>
				<% if @future_auctions.empty?%>
					<td>
						Sorry, there are currently no Future Speedy Auctions.
					</td>
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Description</th>
					<th>Sold For</th>
					<th>Began</th>
					<th>Ended</th>
				</tr>
			</thead>
			<tbody>
					<% @past_auctions.each do |auction| %>
					<% item = auction.item %>
						<% if item != nil && auction != nil %>
							<tr class='clickable-row' data-href='<%= view_auction_path(auction.id)%>'>
								<td style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
									<p style="margin:0px;"><strong><%= item.name %></strong></p>
									<%= image_tag item.headline_image.url, class: "auctions_thumbnail"%>
								</td>
								<td><%= item.description %></td>
								<td>
									<% if auction.begin_date < DateTime.now %>
										<%= number_to_currency(auction.current_bid)%>
									<% else %>
										<%= number_to_currency(item.starting_price) %>
									<% end %>
								</td>
								<td><%= auction.begin_date.strftime("%a, %b %-d, %Y") %></td>
								<td><%= auction.end_date.strftime("%a, %b %-d, %Y") %></td>
							</tr>
					<% end %>
				<% end %>
				<% if @past_auctions.empty?%>
					<td>
						Sorry, there are currently no Past Speedy Auctions.
					</td>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function($) {
		$(".clickable-row").click(function(e) {
			if (e.target.tagName == 'A'){
				return true;
			} else {
				document.location = $(this).data("href");
			}
		});
	});
</script>
