<% content_for :login_path do %><%= auctions_login_path %><% end %>
<% content_for :page_nav do %><%= link_to "Auctions", auctions_path, style: "color:#A6A6A6;margin-left:10px;" %><% end %>
<% content_for :logged_in_page_nav do %>
	<% if @admin.nil? %>
    	<%= link_to "My Account", myaccount_path, style: "color:#A6A6A6;margin-left:10px;" %>
    <% end %>
<% end %>

<h1>My Auctions</h1>
<%= link_to "Create Speedy Auction", new_item_path, :class => "btn btn-primary"  %><br />
<ul class="nav nav-tabs" data-tabs="tabs">
	<li class="active"><a href="#1" data-toggle="tab">My Queued Speedy Auctions</a></li>
	<li><a href="#2" data-toggle="tab">My Sold Speedy Auctions</a></li>
	<li><a href="#3" data-toggle="tab">My Purchased Speedy Auctions</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="1">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Description</th>
					<th>Beginning Date</th>
					<th>End Date</th>
					<th>Current Price</th>
				</tr>
			</thead>
			<tbody>
				<% @future_auctions.each do |auction| %>
						<%item = auction.item%>
						<% if item != nil && auction != nil && @user.id == item.user_id %>
							<tr class='clickable-row' data-href='<%= view_auction_path(auction.id)%>'>
								<td style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
									<p style="margin:0px;"><strong><%= item.name %></strong></p>
									<%= image_tag item.headline_image.url, class: "auctions_thumbnail"%>
									<% if auction.begin_date < DateTime.now %>
										<strong><%= link_to "Live Now!", root_path, class: "btn btn-success"%></strong>
									<% end %>
								</td>
								<td><%= item.description %></td>
								<td><%= auction.begin_date.strftime("%a, %b %-d, %Y") %></td>
								<td><%= auction.end_date.strftime("%a, %b %-d, %Y") %></td>
								<td>
									<% if auction.begin_date < DateTime.now %>
										<%= number_to_currency(auction.current_bid)%>
									<% else %>
										<%= number_to_currency(item.starting_price) %>
									<% end %>
								</td>
								<td><%= link_to 'Cancel', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
								<%= link_to 'Edit', edit_item_path(item), class: "btn btn-primary" %></td>
							</tr>
					<% end %>
				<% end %>
				<% if @future_auctions.empty?%>
					<td>
						You have no Queued Speedy Auctions.
					</td>	
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Description</th>
					<th>Beginning Date</th>
					<th>End Date</th>
					<th>Sold price</th>
					<th>Payment Status</th>
					<th>Shipment Status</th>
				</tr>
			</thead>
			<tbody>
				<% @past_auctions.each do |auction| %>
					<%item = auction.item%>
						<% if item != nil && auction != nil && @user.id == item.user_id%>
							<tr class='clickable-row' data-href='<%= view_auction_path(auction.id)%>'>
								<td style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
									<p style="margin:0px;"><strong><%= item.name %></strong></p>
									<%= image_tag item.headline_image.url, class: "auctions_thumbnail"%>
								</td>
								<td><%= item.description %></td>
								<td><%= auction.begin_date.strftime("%a, %b %-d, %Y") %></td>
								<td><%= auction.end_date.strftime("%a, %b %-d, %Y") %></td>
								<td><% if auction.begin_date < DateTime.now %>
										<%= number_to_currency(auction.current_bid)%>
									<% else %>
										<%= number_to_currency(item.starting_price) %>
									<% end %>
								</td>
								<td>
									<% if auction.paid == true %>
										<p class="btn btn-danger">Received</p>
									<% else %>
										<p class="btn btn-warning">Not Received</p>
									<%end%>
								</td>
								<td>
									<% if auction.item.delivered == true %>
										<p class="btn btn-danger">Delivered</p>
									<% else %>
										<p class="btn btn-warning">Not Delivered</p>
									<%end%>
								</td>
							</tr>
					<% end %>
				<% end %>
				<% if @past_auctions.empty?%>
					<td>
						You have no Sold Speedy Auctions.
					</td>	
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Description</th>
					<th>Beginning Date</th>
					<th>End Date</th>
					<th>Sold price</th>
					<th>Payment Status</th>
					<th>Delievered Status</th>
				</tr>
			</thead>
			<tbody>
					<% @purchased_auctions.each do |auction| %>
						<%item = auction.item%>
							<tr class='clickable-row' data-href='<%= view_auction_path(auction.id)%>'>
								<td style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
									<p style="margin:0px;"><strong><%= item.name %></strong></p>
									<%= image_tag item.headline_image.url, class: "auctions_thumbnail"%>
								</td>
								<td><%= item.description %></td>
								<td><%= auction.begin_date.strftime("%a, %b %-d, %Y") %></td>
								<td><%= auction.end_date.strftime("%a, %b %-d, %Y") %></td>
								<td><%= number_to_currency(auction.current_bid) %></td>
								<td>
									<% if auction.paid == true %>
										<p class="btn btn-danger">Received</p>
									<% else %>
										<p class="btn btn-warning">Not Received</p>
									<%end%>
								</td>
								<td>
									<% if item.delivered == false %>
										<%= link_to 'Mark Received', mark_delivered_path(auction), method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-success", remote: true %>
									<% else %>
										<p class="btn btn-danger">Received</p>
									<% end %>
								</td>
							</tr>
				<% end %>
				<% if @purchased_auctions.empty?%>
					<td>
						You have no purchased speedy auctions.
					</td>	
				<%end%>
			</tbody>
		</table>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function($) {
		$(".clickable-row").click(function(e) {
			if (e.target.tagName == 'A'){
				return true;
			} else {
				document.location = $(this).data("href");
			}
		});
	});
</script>
