<% content_for :login_path do %><%= home_login_path %><% end %>
<% content_for :page_nav do %><%= link_to "Auctions", auctions_path, style: "color:#A6A6A6;margin-left:10px;" %><% end %>
<% content_for :logged_in_page_nav do %><%= link_to "My Account", myaccount_path, style: "color:#A6A6A6;margin-left:10px;" %><% end %>

<div id="home_container">
  <div id="home_auction">
    <h2>
      <%= @current_item.name %>
    </h2>
    <%= image_tag @current_item.headline_image.url, style: 'height:40vh;width:40vh;' %>
    <h3>
      Description
    </h3>
    <p>
      <%= @current_item.description %>
    </p>
    <p>
      Current Bid<%= @current_item.starting_price.number_to_currency %>
    </p>
  </div>
</div>
